<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nskeleton | node js mvc framwork</title>
    <meta name="description" content="Prism is a beautiful Bootstrap 4 template for open-source landing pages."/>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=K2D:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        .top {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
}
.strip {
  height: 0;
  background-color: black;
  transition: height 0.5s;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  color: #ffff;
}
.top.active .strip{
  height: 40px;
}
.button {
  position: absolute;
  top: 0;
  right: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: rgb(255, 254, 254);
  color: #fff;
  cursor: pointer;
}
.arrow-down {
  transition: transform 0.5s;
}
.top.active .arrow-down{
  transform: rotate(180deg)
}
    </style>
</head>
<body>
    <div class="top">
        <div class="strip">
        <p>Learn Node Js From Experts ? Get Appointment</p>
        </div>
        <div class="button">
          <i class="glyphicon glyphicon-chevron-down arrow-down"></i>
        </div>
      </div>
<!--Header Section-->
<section class="bg-gradient pt-5 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-row align-items-center justify-content-between">
                <div class="heading-brand">{ Nskeleton }</div>
                <a href="javascript:void(0)" class="btn btn-dark" target="_blank">Download (1.0.0)</a>
               
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-md-8 mx-auto text-center">
                <h1>Nskeleton node js framework</h1>
                <p class="lead mb-5">Nskeleton is a lightweight CLI Based, extensible open source node js framework, built with modern web
                    standards with express js in mind. It’s used in thousands of websites, including some of those you visit daily.</p>
                <a href="https://github.com/trupnil11/nskeleton" class="btn btn-dark svg-icon">
                    <em class="mr-2" data-feather="github"></em>
                    Contribute on github
                </a>
                <a href="/documentation" class="btn btn-dark svg-icon">
                    <em class="mr-2" data-feather="github"></em>
                    Documentation
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <div class="code-window">
                    <div class="dots">
                        <div class="red"></div>
                        <div class="orange"></div>
                        <div class="green"></div>
                    </div>
                   
                    <pre class="language-javascript line-numbers"><code  class="language-javascript">git clone https://github.com/trupnil11/nskeleton.git

npm install

nodemon
</code></pre>


                </div>
            </div>
        </div>
    </div>
</section>

<!--Features Section-->
<section class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center text-md-left">Reasons Why People Love <span class="text-success">{ Nskeleton }</span></h2>
                <div class="row feature-grid">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span data-feather="check-circle" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Dead Simple
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span data-feather="command" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Highly Intuitive
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span data-feather="feather" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Light as a Feather
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span data-feather="zap" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Blazing Fast
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span data-feather="git-pull-request" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Extensible
                            </div>
                        </div>
                    </div><div class="col-sm-6">
                        <div class="media">
                            <div class="icon-box">
                                <div class="icon-box-inner">
                                    <span data-feather="droplet" width="28" height="28"></span>
                                </div>
                            </div>
                            <div class="media-body">
                                Easy Styling
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Used By Section-->
<section class="pb-6">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center text-md-left">Spartans Team</h2>
                <p class="lead text-muted">Nskeleton is used on several websites, small and large.</p>
                <div class="mt-5 d-flex flex-row justify-content-md-between flex-wrap press-icons">
                    <img src="https://logo.clearbit.com/google.com?size=60" alt="Google"/>
                    <img src="https://logo.clearbit.com/twitter.com?size=60" alt="Twitter"/>
                    <img src="https://logo.clearbit.com/vuejs.org?size=60" alt="Veu.js"/>
                    <img src="https://logo.clearbit.com/stripe.com?size=60" alt="Stripe"/>
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<footer class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://prismjs.com/test.html">Test Drive</a></li>
                    <li class="list-inline-item"><a href="https://prismjs.com/extending.html">API Docs</a></li>
                    <li class="list-inline-item"><a href="https://github.com/LeaVerou/prism/">Fork Nskeleton on GitHub</a></li>
                </ul>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-4 mx-auto text-muted text-center small-xl">
                &copy; 2023 Nskeleton - T R U P N I L  &nbsp; B A R O T
            </div>
        </div>
    </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="js/scripts.js"></script>
<script>
    $('.button').on('click', function () {
  $('.top').toggleClass('active');
});
</script>
</body>
</html>
